body{
	margin: 0; 
	padding: 0;
	font-family: sans-serif;
	background: black;
}

form{
	width: 300px;
	padding: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #191919;
	text-align: center;
	border-radius: 10px;
}

form h1{
	color: white;
	font-weight: 700;
}

form input[type="email"], input[type="password"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px  solid #ffffff;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 16px;
	transition: 0.25s;
}

form input[type="email"]:focus, input[type="password"]:focus{
	width: 280px;
	border-color: #ffffff;
	transition: 1s;
}

form input[type = "submit"]{
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #ffffff;
	padding: 14px 40px;
	outline: none;
	color: #ffffff;
	border-radius: 16px;
	cursor: pointer;
}

form input[type="submit"]:hover{
	background: #ffffff;
	color: #191919;
	transition: 0.3s;
}